/* You can add global styles to this file, and also import other style files */
body {
    background-color: #e0f7fa;
}

mat-dialog-container {
    position: fixed;
    background-color: white;
    top: 100px;
  }
