<div class="valign-wrapper" style="padding-top: 80px">
  <div class="container">
    <div class="center-align">
      <div class="row">
        <div class="col s3">
          <div class="card">
            <div class="card-content">
              <span class="card-title">TuHoang94</span>
            </div>
            <div class="card-action">
              <a href="#">55 Followers</a>
              <p></p><a href="#">11 Following</a>
            </div>
          </div>
          <div class="card">
              <div class="card-content">
                <span class="card-title"><b>Trends for you</b></span>
              </div>
              <div class="card-action">
                  <ul>
                      <li><a href="#">#Cofee</a></li>
                      <li><a href="#">#Tea</a></li>
                      <li><a href="#">#Milk</a></li>
                      <li><a href="#">#Cookie</a></li>
                      <li><a href="#">#Candy</a></li>
                      <li><a href="#">#Sword</a></li>
                    </ul>
              </div>
            </div>
        </div>
        <div class="col s9">
          <div class="row">
            <div class="card">
              <div class="card-content">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="email" type="text">
                    <label for="email">What's happening?</label>
                  </div>
                </div>
                <div class="row">
                  <button class="col s3 btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card">
              <div class="card-content left-align">
                <ul>
                  <b>Tu</b> @TuHoang94
                  <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                    atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
                    sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. </li>
                </ul>
                <ul>
                  <b>Jeroen</b> @JeroenvdWal
                  <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                    atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
                    sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. </li>
                </ul>
                <ul>
                  <b>Justin</b> @jbieber99
                  <li>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                    atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
                    sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                    facilis est et expedita distinctio. </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>